.icon-about1, .icon-about2, .icon-about3, .icon-selection1, .icon-selection2, .icon-selection3, .icon-selection4{
	background: url(sprites.png) no-repeat;
}

.icon-about1{
	background-position: 0 0;
	width: 62px;
	height: 57px;
}

.icon-about2{
	background-position: 0 -63px ;
	width: 61px;
	height: 59px;
}

.icon-about3{
	background-position: 0 -128px ;
	width: 43px;
	height: 65px;
}

.icon-selection1{
	background-position: 0 -198px ;
	width: 45px;
	height: 38px;
}

.icon-selection2{
	background-position: 0 -242px ;
	width: 40px;
	height: 44px;
}

.icon-selection3{
	background-position: 0 -292px ;
	width: 40px;
	height: 42px;
}

.icon-selection4{
	background-position: 0 -340px ;
	width: 61px;
	height: 37px;
}

